body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
body {
  background-color: black;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
}

.panel p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0 15px 0 0;
}

.bt {
  padding: 2px;
}

.btn {
  color: white;
  font-size: 18px;
  border-radius: 50%;
  border-style: none;
  min-height: 55px;
  min-width: 55px;
  margin: 2px;
}

.btn.special {
  color: black;
  background-color: rgb(120, 120, 120);
}

.btn.special:hover {
  color: white;
  background-color: rgb(170, 170, 170);
}

.btn.operator {
  background-color: rgb(252, 141, 12);
}

.btn.operator:hover {
  background-color: rgb(255, 191, 62);
}

.btn.number, .btn.decimal {
  background-color: rgb(38, 38, 38);
}

.btn.number:hover, .btn.decimal:hover {
  background-color: rgb(88, 88, 88);
}

#zero {
  border-radius: 50px;
  min-width: 118px;
}

#zero p {
  padding-left: 18px;
  text-align: left;
}

@media (max-width: 375px) and (max-height: 667) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}